@import "~react-bulma-components/src/index.sass";

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

@mixin noselect() {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

html, body {
  height: 100%;
}

.baa-container {
  display: flex;
  flex-direction: column;

  // Calculate height, taking navbar height (80px) into account.
  height: calc(100vh - 80px);
}

.baa-content {
  flex: 1 0 auto;
}
