@import "~_variables.sass";
@import "App.scss";

.gallery-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: auto;
  margin-right: $baa-gallery-item-padding;
}

.gallery-masonry-grid-column {
  padding-left: $baa-gallery-item-padding; /* gutter size */
  background-clip: padding-box;
}

// Masonry item
.gallery-masonry-grid-column > .gallery-item {
  margin-bottom: $baa-gallery-item-padding;
}

.admin-box {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.admin-btn {
  @include transition($baa-navbar-item-transition-duration);
  border-radius: 1rem;
  font-family: "Poppins";
  font-weight: bold;
  font-size: $size-5;
  width: 100%;
}

.admin-box-creation {
  margin-left: 2.5rem;
  margin-right: 2.5rem;

  h1 {
    @include noselect();
    font-family: "Poppins";
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}

.admin-textarea {
  min-height: 4rem;
}

.admin-loading {
  h2 {
    @include noselect();
    text-align: center;
    font-family: "Poppins";
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: $info;
  }
}

.admin-error, .admin-successful {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.gallery-empty-text {
  @include noselect();
  text-align: center;
  font-family: "Poppins";
  font-weight: bold;
  text-align: center;
  font-size: $size-3;
  margin-bottom: 2rem;
}

.pagination-loading {
  width: 100%;

  * {
    margin: 0 auto;
    width: 3rem;
    height: 3rem;
  }
}
