@import "~_variables.sass";
@import "App.scss";

.gallery-item {
  width: 100%;
  text-align: center;

  img {
    @include noselect();
    //cursor: pointer;
    width: 100%;
    border-radius: 1.5rem;
  }
}
