@import "~_variables.sass";
@import "App.scss";

.checkout-form-container {

}

.checkout-card {
  background-color: #fff;
  border-radius: 0.25rem;
  padding: 0.75rem;
  border: 0.05rem solid #A4A4A6;
  margin-bottom: 1rem;
}

.checkout-btn {
  @include transition($baa-navbar-item-transition-duration);
  font-family: "Poppins";
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 1rem;
  margin-top: 1.5rem;
}

.checkout-input-state {
}
