@import "~_variables.sass";
@import "App.scss";

.details-container {
  margin-top: 5rem;
  width: 100%;
}

.details-image {
  img {
    border-radius: $baa-details-img-border-radius;
  }
}

.details-image-comparison {
  * img {
    border-radius: $baa-details-img-border-radius;
  }
}

.details-image-comparison-subtitle {
  @include noselect()
  color: #A4A4A6;
  font-family: "Poppins";
  font-size: $size-5;
  font-weight: bold;
  margin-top: 0.4rem;
  margin-left: 0.1rem;
}

.details-block {
  font-family: "Poppins";
  font-weight: bold;
  color: #000;

  h1 {
    font-size: 3rem;
    font-weight: bold !important;
  }

  .details-subtitle {
    @include noselect()
    color: #A4A4A6;
    font-size: $size-5;
  }

  .details-price {
    @include noselect()
    color: #818181;
    font-size: $size-3;
  }

  .details-desc {
    margin-top: 3rem;
    font-size: $size-5;
  }

  .details-dim {
    color: #818181;
    font-size: $size-5;
    margin-top: 3rem;

    .details-dim-amount {
      color: #000;
      padding-left: 1.8rem;
    }
  }

  .details-thickness {
    color: #818181;
    font-size: $size-5;

    .details-thickness-amount {
      color: #000;
      padding-left: 3rem;
    }
  }
}

.purchase-btn {
  @include transition($baa-navbar-item-transition-duration);
  font-family: "Poppins";
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
  margin-top: 1.5rem;

  .purchase-btn-title {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background-color: #1aed87;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .purchase-btn-price {
    background-color: #16cc74;
    height: 100%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.details-testimonial-columns {
  margin-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
}

.details-testimonial {
  @include noselect()
  font-family: "Poppins";
  color: #000;
  background-color: #fff;
  border-radius: 1.5rem;
  padding: 2rem;

  h1 {
    font-weight: bold !important;
    font-size: $size-5;
  }

  h2 {
    margin-top: 0.5rem;
    color: #A4A4A6;
    font-weight: bold !important;
    font-size: $size-5;
  }
}

.details-notfound {
  h1 {
    @include noselect()
    font-family: "Poppins";
    font-size: 4rem;
    font-weight: bold;
    margin-top: 3rem;
    text-align: center;
  }
}

.admin-box {
  margin: 0 2.5rem 2.5rem 2.5rem;

  h1 {
    @include noselect();
    font-family: "Poppins";
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
  }

  h2 {
    @include noselect();
    font-family: "Poppins";
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

.admin-textarea {
  min-height: 4rem;
}

.admin-btn {
  @include transition($baa-navbar-item-transition-duration);
  border-radius: 1rem;
  font-family: "Poppins";
  font-weight: bold;
  font-size: $size-5;
  width: 100%;
}

.admin-btn-2 {
  @include transition($baa-navbar-item-transition-duration);
  border-radius: 1rem;
  font-family: "Poppins";
  font-weight: bold;
  font-size: $size-5;
  width: 100%;
  margin-top: 1rem;
}

.admin-loading {
  h2 {
    @include noselect();
    text-align: center;
    font-family: "Poppins";
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: $info;
  }
}

.admin-error, .admin-successful {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

@media screen and (max-width: $tablet) {
  .details-image-column,
  .details-block,
  .details-testimonial-columns {
    padding: 1.5rem;
  }

  // Mobile fix
  .details-image {
    img {
      margin-left: 0.75rem;
    }
  }

  // Mobile fix
  .details-image-comparison {
    margin-left: 1.5rem;
  }

  // Mobile fix
  .details-block {
    margin-left: 0.5rem;
  }

  // Mobile fix
  .details-testimonial-columns {
    margin-left: 0.05rem;
  }
}
