@import "~_variables.sass";
@import "App.scss";

.details-container {
  margin-top: 5rem;
  width: 100%;
}

.details-image {
  img {
    border-radius: $baa-details-img-border-radius;
  }
}

.details-image-comparison {
  * img {
    border-radius: $baa-details-img-border-radius;
  }
}

.details-image-comparison-subtitle {
  @include noselect()
  color: #A4A4A6;
  font-family: "Poppins";
  font-size: $size-5;
  font-weight: bold;
  margin-top: 0.4rem;
  margin-left: 0.1rem;
}

.details-block {
  font-family: "Poppins";
  font-weight: bold;
  color: #000;

  h1 {
    font-size: 3rem;
    font-weight: bold !important;
  }

  .details-subtitle {
    @include noselect()
    color: #A4A4A6;
    font-size: $size-5;
  }

  .details-desc {
    margin-top: 3rem;
    font-size: $size-5;
  }

  .details-dim {
    color: #818181;
    font-size: $size-5;
    margin-top: 3rem;

    .details-dim-amount {
      color: #000;
      padding-left: 1.8rem;
    }
  }

  .details-thickness {
    color: #818181;
    font-size: $size-5;

    .details-thickness-amount {
      color: #000;
      padding-left: 3rem;
    }
  }
}

@media screen and (max-width: $tablet) {
  .details-image-column {
    padding: 1.5rem;
  }

  .details-block {
    padding: 1.5rem;
  }

  // Mobile fix
  .details-image {
    img {
      margin-left: 0.75rem;
    }
  }

  // Mobile fix
  .details-image-comparison {
    margin-left: 1.5rem;
  }
}
