@import "~_variables.sass";
@import "App.scss";

.login-container {
  background-color: #fff;
  border-radius: 1.5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;

  h1 {
    padding-top: 2rem;
    margin-bottom: 3rem;
    font-family: "Poppins";
    font-size: $size-2;
    font-weight: bold;
    text-align: center;
  }
}

.login-inputs-container {
  margin-left: 3rem;
  margin-right: 3rem;
  padding-bottom: 4rem;
}

.login-btn {
  @include transition($baa-navbar-item-transition-duration);
  width: 100%;
  height: 3rem;
  border-radius: 1rem;
  margin-top: 0.5rem;
}
